.git
.pytest_cache
.pids
venv
working
archive
cache
storage
logs
tmp
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.windsurf
.idea
.vscode
*.swp
*.db
*.log
.venv
node_modules
tests/
private/
logs/
data/
*.pyc
working/
archive/
